cycler==0.11.0
fonttools==4.34.4
fpdf==1.7.2
kiwisolver==1.4.3
matplotlib==3.5.2
numpy==1.23.1
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
pypng==0.0.21
PyQRCode==1.2.1
python-dateutil==2.8.2
pyzbar==0.1.9
six==1.16.0
